.flexbox {
	width:100vw;
	height:100vh;
	resize:both;
	display: flex;
	overflow: hidden;
	flex-flow:row wrap;
	color: black;
}
.flexbox .View{
	border: black solid;
	height:98%;
	flex:3.5;
	order:0;
}
.flexbox .HTML{
	background-color: black;
	color:white;
	height:100%;
	flex:3.5;
	order:2;
}
.flexbox .CSS{
	background-color: black;
	color:white;
	height:100%;
	flex:3.5;
	order:4;
}
.flexbox .col1{
	height:100%;
	background-color: grey;
	flex:0.1;
	order:1;
}
.flexbox .col2{
	height:100%;
	background-color: grey;
	flex:0.1;
	order:3;
}
.Area{
	height: 75%;
	width:100%;
	background-color: black;
	color:white;
}
H5{
	text-align: center;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
}
